@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&family=JetBrains+Mono:wght@100;400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
  --font-cyber: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black; /* Prevents white flash */
  color: white;
}